<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.locationanalytics"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="18" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />

    <!--
  IMPORTANT: Change "com.parse.tutorials.pushnotifications.permission.C2D_MESSAGE" in the lines below
  to match your app's package name + ".permission.C2D_MESSAGE".
    -->
    <permission
        android:name="com.example.locationanalytics.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="com.parse.tutorials.pushnotifications.permission.C2D_MESSAGE" />

<!--              android:debuggable="true" -->
    <application
        android:allowBackup="true"
        android:icon="@drawable/location"
        android:label="@string/app_name" >

        <!-- android:theme="@style/AppTheme" > -->
        <activity
            android:name="com.example.locationanalytics.HomeScreen"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.locationanalytics.RegisterScreen"
            android:label="@string/title_activity_register_screen" >
        </activity>
        <activity
            android:name="com.example.locationanalytics.PreferenceScreen"
            android:label="@string/title_activity_preference_screen" >
        </activity>
        <activity
            android:name="com.example.locationanalytics.LoginScreen"
            android:label="@string/title_activity_login_screen" >
        </activity>
        <activity
            android:name="com.example.locationanalytics.SignUpScreen"
            android:label="@string/title_activity_sign_up_screen" >
        </activity>
        <activity
            android:name="com.example.locationanalytics.MainScreen"
            android:label="@string/title_activity_main_screen" >
        </activity>

        <uses-library android:name="com.google.android.maps" />

        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyDAx9lY3EKivqabA4qosy8QFflPwSjGUcI" />

        <receiver
            android:name="com.example.locationanalytics.LocationReceiver"
            android:enabled="true" />
        <receiver android:name="com.example.locationanalytics.LocationPoller" />

        <service android:name="com.example.locationanalytics.LocationPollerService" />
        <service android:name="com.parse.PushService" />

        <receiver android:name="com.parse.ParseBroadcastReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.USER_PRESENT" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.parse.GcmBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />

                <!-- IMPORTANT: Change "com.parse.tutorials.pushnotifications" to match your app's package name. -->
                <category android:name="com.example.locationanalytics" />
            </intent-filter>
        </receiver>

        <activity
            android:name="com.example.locationanalytics.GoToDealFromNotification"
            android:label="@string/title_activity_go_to_deal_from_notification" >
        </activity>
        <activity
            android:name="com.example.locationanalytics.GoToDealFromNoification"
            android:label="@string/title_activity_go_to_deal_from_noification" >
        </activity>
        <activity
            android:name="com.example.locationanalytics.GoToDeal"
            android:label="@string/title_activity_go_to_deal" >
        </activity>

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/app_id" />

        <!--
                     <meta-data android:name="com.facebook.sdk.ApplicationId" android:value="248970831974575"/>
    </application>
        -->
        <activity
            android:name="com.example.locationanalytics.DealScreen"
            android:label="@string/title_activity_deal_screen" >
        </activity>
    </application>

</manifest>
